.git
.github
.claude
.cursor
.skills
node_modules
vendor
.env
.env.*
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
public/build
npm-debug.log
composer.phar
database/database.sqlite
